*/ {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-style: inherit;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  padding-top: 5px;
}
article {
  border: 4px solid black;
  position: relative;
  width: 700px;
  margin: 50px auto;
}

/* header::before {
  content: "SALE";
  font-size: 14px;
  letter-spacing: 2px;
  color: white;
  padding: 3px;
  background-color: red;
  top: -12px;
  left: -40px;
} */

.sale {
  background-color: red;
  color: white;
  padding: 3px;
  letter-spacing: 2px;
  font-size: 14px;
  display: inline-block;
  position: absolute;
  top: -30px;
  left: -28px;
  font-weight: bold;
}

.div-1 {
  background-color: black;
  height: 15px;
  width: 15px;
  display: inline-block;
  margin: 5px;
}
.div-2 {
  background-color: blue;
  height: 15px;
  width: 15px;
  display: inline-block;
  margin: 5px;
}
.div-3 {
  background-color: red;
  height: 15px;
  width: 15px;
  display: inline-block;
  margin: 5px;
}
.div-4 {
  background-color: yellow;
  height: 15px;
  width: 15px;
  display: inline-block;
  margin: 5px;
}
.div-5 {
  background-color: green;
  height: 15px;
  width: 15px;
  display: inline-block;
  margin: 5px;
}
.div-6 {
  background-color: brown;
  height: 15px;
  width: 15px;
  display: inline-block;
  margin: 5px;
}
body {
  font-family: sans-serif;
  line-height: 1.4;
  position: relative;
}
header p {
  font-weight: bolder;
  font-size: 20px;
  font-family: sans-serif;
  margin: 0;
}
header h1 {
  background-color: rgba(128, 128, 128, 0.164);
  margin: 0;
  height: 35px;
}

.p-1 {
  font-size: 13px;
  font-family: sans-serif;
  font-weight: bold;
  font-style: oblique;
  color: grey;
  margin: 0;
}
.p-2 {
  font-weight: bold;
  margin-top: 5px;
}

h3 {
  text-transform: uppercase;
  font-size: 15px;
  margin-left: 0;
}

.more-info:link,
.more-info:visited {
  color: black;
  margin-bottom: 0;
  margin-bottom: 30px;
  display: inline-block;
}
.more-info:hover,
.more-info:active {
  text-decoration: none;
}
.details-list {
  list-style: square;
  margin-left: 0;
}
.add-cart {
  background-color: black;
  border-top: 4px solid black;
  color: white;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
.add-cart:hover {
  color: black;
  background-color: white;
  border-top: 4px solid black;
}
/* ASSIGNMENT*/

/* .container-1 {
  width: 150px;
  float: right;
  height: 200px;
}

.container-2 {
  width: 170px;
  float: right;
  display: inline-block;
} */

.container-1 {
  width: 174px;
  display: inline-block;
  margin-left: 30px;
  margin-right: 20px;
}
.container-2 {
  width: 183px;
  display: inline-block;
}
.p-2 {
  margin-bottom: 0;
  margin-top: 0;
  clear: both;
}
.cash {
  margin: 0;
  display: inline-block;
}
.p-1 {
  float: right;
}
.details-list {
  font-weight: bold;
  font-size: 15px;
}
.product-details {
  margin: 0;
}

.body {
  background-color: cadetblue;
  height: 200px;
}
