article {
  width: 700px;
  margin: 30px auto;
  border: 4px solid black;
  position: relative;
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  column-gap: 40px;
}

header {
  height: 40px;
  background-color: gray;
  width: 100%;
  /* position: relative; */
  margin-top: 0;
  display: flex;
  align-items: center;
  gap: 50px;
  grid-column: 1 / 4;
}
.p-1 {
  color: white;
  background-color: red;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: sans-serif;
  /* align-self: flex-start; */
  position: absolute;
  top: -28px;
  left: -28px;
  /* order: -1; */
}
h1 {
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 15px;
  text-align: center;
}
.p-2 {
  font-family: sans-serif;
  font-weight: bold;
}
.p-3 {
  font-family: sans-serif;
  font-weight: lighter;
  color: gray;
}
.nav-1 {
  display: flex;
  justify-content: space-between;
}

.p-4 {
  font-family: sans-serif;
  font-weight: bold;
}
.color-1 {
  height: 20px;
  width: 20px;
  background-color: black;
}
.color-2 {
  height: 20px;
  width: 20px;
  background-color: blue;
}
.color-3 {
  height: 20px;
  width: 20px;
  background-color: red;
}
.color-4 {
  height: 20px;
  width: 20px;
  background-color: yellowgreen;
}
.color-5 {
  height: 20px;
  width: 20px;
  background-color: green;
}
.color-6 {
  height: 20px;
  width: 20px;
  background-color: brown;
}
.colors {
  display: flex;
  gap: 20px;
}
.more-info:link {
  text-decoration: none;
  color: brown;
}
.more-info:visited,
.more-info:hover {
  color: yellowgreen;
}
h3 {
  text-transform: uppercase;
  font-family: sans-serif;
}

.product-list {
  list-style: square;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
}
.last-item {
  text-align: center;
  width: 100%;
  border-top: 2px solid black;
  color: brown;
  background-color: black;
  padding: 0;
  height: 30px;
  cursor: pointer;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  grid-column: 1 / 4;
}
.last-item:hover {
  color: black;
  background-color: white;
  border-top: 4px solid black;
}
