*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  box-sizing: border-box;
}

.header-1 {
  width: 100%;
  background-color: #04a405;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.p-1 {
  font-weight: lighter;
  font-family: sans-serif;
  font-size: 15px;
  font-style: unset;
  color: white;
}
.p-2 {
  font-weight: lighter;
  font-family: sans-serif;
  font-size: 15px;
  font-style: unset;
  color: white;
  margin-right: 30px;
}
.header-2 {
  width: 100%;
  background-color: white;
  height: 100px;
  display: flex;
  justify-content: space-between;
}
.p-3 {
  text-transform: uppercase;
  font-size: 20px;
  font-style: initial;
  font-family: sans-serif;
  color: green;
  align-self: center;
}
/* .p-3-muele {
  width: 40px;
  flex-wrap: wrap;
} */
.nav-1 {
  display: flex;
  gap: 10px;
}
.header-list {
  list-style: none;
  display: flex;
  list-style: none;
  gap: 30px;
  padding-right: 30px;
  font-family: sans-serif;
  height: 100%;
  margin-bottom: 0;
  align-items: center;
}
.header-link-1:link,
.header-link-2:link,
.header-link-3:link {
  text-decoration: none;
}

.link-1,
.link-2,
.link-3 {
  height: 100px;
  display: flex;
  align-items: center;
}
.link-1:hover,
.link-2:hover,
.link-3:hover {
  border-bottom: 3px solid brown;
}

.main-container {
  background-image: linear-gradient(
      rgba(54, 53, 53, 0.603),
      rgba(51, 50, 50, 0.603)
    ),
    url("img/mainbuilding.jpg");
  position: relative;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: "poppins", sans-serif;
}
.color-overlay {
  background-color: #d3f9d8;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  margin: 0;
}

.h3-login {
  color: red;
  text-align: center;
  font-size: 25px;
  /* font-family: sans-serif; */
  font-weight: lighter;
}
.nav-p4 {
  background-color: rgba(187, 98, 98, 0.568);
}
.p-4 {
  height: 55px;
  font-size: 21px;
  /* font-family: sans-serif; */
  font-style: initial;
  font-weight: 500;
  padding-top: 14px;
}
.container-top {
  margin: 20px auto;

  width: 600px;
  background-color: white;
}

.login-part {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.paragraph-link {
  height: 70px;
  font-size: 22px;
}
.username {
  font-family: sans-serif;
}
.formdiv-1 {
  height: 25px;
}
.fname,
.password {
  font-size: 16px;
  line-height: 30px;
  border-radius: 4px;
  border: 0;
  border-bottom: 2px solid;
}

.login-button {
  width: 100%;
  background-color: #8ce99a;
  color: white;
  height: 40px;
  font-size: 19px;
  margin-bottom: 20px;
  font-weight: bold;
  border: 0;
}
.login-button:hover {
  background-color: gray;
}

.paragraphs a:link {
  font-size: 17px;
  font-family: sans-serif;
}

.paragraphs a:link,
a:hover {
  color: green;
  text-decoration: none;
  font-weight: lighter;
}
.p-5 {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 17px;
}
/* .form-div {
  display: block;
  margin: 5px;
} */
.container-bottom {
  margin: 30px auto 60px;
  width: 600px;
  height: 150px;
  font-family: "lato", sans-serif;
  background-color: white;
}

.container-bottom h3 {
  color: #f03e3e;
  font-size: 30px;
  font-weight: 400;
}
.container-bottom p {
  font-size: 17px;
}
.form-button {
  height: 35px;
  width: 100px;
}
