* {
  margin: 5px;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 20px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-style: normal;
  color: rgba(107, 27, 114, 0.884);
  text-align: center;
}
h1,
h2,
h3 {
  color: rgba(107, 27, 114, 0.884);
}
h2 {
  font-size: 35px;
  font-family: sans-serif;
  /* background-color: skyblue; */
  position: relative;
}
article {
  /* margin-bottom: 60px; */
}
/*PSEUDO ELEMENTS EXAMPLES*/
h2::first-letter {
  font-size: 60px;
  margin-right: o;
}
/* p::first-line {
  color: red;
} */
h2::after {
  content: "TOP";
  background-color: seagreen;
  font-size: 10px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 5px;
  position: absolute;
  top: -1o;
  right: -0.1px;
}

h3 {
  font-size: 30px;
  font-family: sans-serif;
}
h4 {
  font-size: 20px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
}

.container {
  width: 1200px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
  /* position: relative; */
}

.main-header {
  background-color: rgba(128, 128, 128, 0.089);
  /* padding: 20px;
  padding-left: 40px;
  padding-right: 40px; */
  padding: 30px 15px 10px 50px;
  /* margin-bottom: 20px; */
}

aside {
  background-color: rgba(69, 57, 124, 0.171);
  border-top: 3px solid #881a1a;
  border-bottom: 5px solid #881a1a;
  padding: 50px 60px;

  /* width: 100%; */
}

#author {
  font-style: italic;
  font-size: 18px;
}
#copyright {
  font-size: 20px;
}
ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  font-family: sans-serif;
  line-height: 1.5;
}

li {
  font-family: sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
  /* display: inline; */
}
li:lest-child {
  margin-bottom: 0;
}

footer p {
  font-size: 15px;
}

#author {
  font-style: italic;
  font-size: 17px;
}

.related-author {
  font-size: 14px;
  font-weight: bold;
}
/* ul {
  list-style: none;
} */
.ul-related {
  list-style: none;
  margin-left: 0;
}

body {
  /* background-color: #8bc34a; */
  position: relative;
}
/* 
li:first-child {
  font-weight: bold;
} */
li:last-child {
  font-style: oblique;
}
li:nth-child(2) {
  /* color: rgb(58, 20, 94); */
}

body {
  border-top: 3px solid rgb(18, 134, 243);
  font-family: sans-serif;
  position: relative;
  color: #444;
}

.post-img {
  height: auto;
  width: 100%;
}

nav a:link {
  /*background: orangered;
  margin: 20px;
  padding: 7px;
  display: block;
*/
  margin-right: 20px;
  display: inline-block;

  /* background: rgba(31, 140, 241, 0.37); */
}
nav a:link:last-child {
  margin-right: 0;
}

button {
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 50px;
}
nav {
  text-align: center;
}

/* FLOATS
.author-image {
  float: left;
}

.author {
  padding-left: 80px;
  margin-top: 5px;
  float: left;

  margin-left: 20px;
}

h1 {
  float: left;
}
nav {
  float: right;
}


.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

article {
  width: 770px;
  float: left;
}
aside {
  width: 400px;
  float: right;
}

footer {
  background-color: yellow;
  clear: both;
}  */

/*FLEXBOX*/

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.author-box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.author {
  margin-left: 15px;
}
.related-list {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}
.related-author {
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}
.related-link:link {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  display: block;
  margin-bottom: 5px;
}
/* FLEXBOX LAYOUT */
/* .row {
  display: flex;
  gap: 75px;
  align-items: flex-start;
  margin-bottom: 60px;
}
aside {
  flex: 0 0 300px;
}
article {
  flex: 1;
  margin-bottom: 0;
} */

/* CSS GRID LAYOUT */

.container {
  display: grid;
  grid-template-columns: 1fr 300px;
  column-gap: 75px;
  row-gap: 60px;
  align-items: start;
}

.main-header {
  /* grid-column: 1 / span 2; */
  grid-column: 1 / -1;
}
article {
}
aside {
}
footer {
  grid-column: 1 / -1;
}
